:root {
  --cyan: #079aa8;
  --grey-blue: #496380;
  --seafoam-green: #54b696;
  --dark-green: #5a9b6d;
  --light-seafoam-green: #8abbb6;
  --wine-purple: #711c52;
  --purple: #8428b4;
  --burnt-red: #8d2213;
  --light-green: #9ecfad;
  --grey: #e1e1e1;
  --orange: #e9612a;
  --burnt-orange: #d1774c;
  --logo-green: #67b2ab;
}

body {
  margin: 0;
  font-family: 'Cardo';
}

h2 {
  font-weight: lighter;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}


.no-margin {
  margin: 0;
}

